.red{
  background-color: red;
}

#box{
  display: block;
  width: 500px;
  height: 100px;
  position:relative;
  left: 30px;
  margin: 10px;
}

#redslider{
  color: red !important;
  background-color: red;

}
#blueslider{
  color: blue !important;
  background-color: blue;

}
#greenslider{
  color: green !important;
  background-color: green;

}

mat-slider{
  margin: 10px;
}

.toHighlight{
  display: block;
  width: 180px;
  height: 30px;
}
.parent{
  background-color: rgba(252, 242, 214, 0.8);
  padding: 10px;
  border: 3px solid;
  border-color: rgb(26, 80, 33);
  margin: 0.5rem;
}

hr{
  color: rgb(236,156,8);
}
