#homebtn{
  padding: 10px 15px;
  font-size: 35px;
  color: rgba(37, 80, 201, 0.986);
}

.navMenu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #0a160a;
  height: 48px;
}

.navMenu li{
  text-align: center;
  float: left;
  margin-bottom: 10px;
  list-style-type: none;
}
.navMenu a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Verdana;
}
.navMenu a:hover{
  background-color: #111;
}

.linkactive{
  background-color: green ;
}


