<div [ngStyle]="{'background':config.background, 'border':config.border}">
<h3>Primer paso con angular</h3>
<h2>Bienvenido al proyecto {{title}} </h2>
<a href= "../../../index.html" target="_self"><i id="homebtn" class="fa fa-home" aria-hidden="false"></i></a>
<h4>Ejercicio 1, crear un primer componente manualmente y llamarlo por su selector</h4>
<First></First>


<h4>Ejercicio 2, crear un nuevo componente y utilizar los hook OnInit y DoCheck</h4>
<hooks></hooks><hr>

<h4>Ejercicio 3, por medio de un modelo con una configuración, darle un estilo CSS usando directivas</h4>
<h4 [ngStyle]="{'color':config.color}">{{description}}</h4><hr>
<h4>Ejercicio 4, por medio de un modelo, pasar un constructor a un nuevo componente y pasar datos al resto del componente usando directivas</h4>
<singers></singers>
</div>
<router-outlet></router-outlet>




