<section class="container">

<div [ngStyle]="{'background':config.background, 'border':config.border}">

<h2>Bienvenido al proyecto </h2>
<nav class="navMenu">
  <ol>
    <li><a [routerLink]="['/Home']" [routerLinkActive]="['linkactive']">Home</a></li>
    <li><a [routerLink]="['/First']" [routerLinkActive]="['linkactive']">Primer pagina</a></li>
    <li><a [routerLink]="['/Second']" [routerLinkActive]="['linkactive']">Segunda pagina</a></li>
    <li><a [routerLink]="['/Third']" [routerLinkActive]="['linkactive']">Tercer pagina</a></li>
    <li><a [routerLink]="['/Contact']" [routerLinkActive]="['linkactive']">Contacto</a></li>
    <li><a [routerLink]="['/login']" [routerLinkActive]="['linkactive']" class="login">Login</a></li>
  </ol>
</nav>

<router-outlet></router-outlet>
</div>


</section>





