<h4>Ejercicio 5, usando el evento keyup y evento click desplegar la palabra en el cuadro de texto</h4>
<div>
  <label for="keyup">Escribir aqui y dar enter:</label><br>
  <input type="text" id="keyup" [(ngModel)]="events" (keyup.enter)="keyUp()" ><br>
  <button (click)="keyUp()">Enter</button><br>
  <span>{{toPrint}}</span>
</div><hr>

<h4>Ejercicio 6, usando la directiva ngClass y ngIf, poder modificar los valores y darles clases segun precio (mayor a 20 rojo y verde si no)</h4>
<input type="number" placeholder="Precio de manzana" [(ngModel)]="priceC0" (keyup.enter)="pricesChange0()"><label >Precio de la manzana</label><br>
<input type="number" placeholder="Precio de manzana" [(ngModel)]="priceC1" (keyup.enter)="pricesChange1()"><label >Precio de la pera</label><br>
<input type="number" placeholder="Precio de manzana" [(ngModel)]="priceC2" (keyup.enter)="pricesChange2()"><label >Precio del platano</label><br>
  <ul id="fruitsList"  >
    <li *ngFor="let fruit of fruits;let i=index">
    <span>{{fruit}}: </span>
    <span [ngClass]="{
      'red':prices[i]>=20
    }">{{prices[i]}}$</span>
</li>
  </ul><hr>
  <h4>Ejercicio 7, construir una directiva de atributo que subraye palabras al pasar el mouse </h4>
  <p class="toHighlight"[Highlight]="color">Pasa el mouse por aqui¡¡</p>

  <h4>Ejercicio 8, Crear un input para modificar el color de la directiva anterior</h4>
  <div>Selecciona el color: <br>
    <div id="box" [ngStyle]="{'background-color':color}"> </div>

    <mat-slider min="0" max="255" step="1" [(ngModel)]="R" thumbLabel tickInterval="1" id="redslider"></mat-slider>
    <mat-slider min="0" max="255" step="1" [(ngModel)]="G" thumbLabel tickInterval="1" id="greenslider"></mat-slider>
    <mat-slider min="0" max="255" step="1" [(ngModel)]="B" thumbLabel tickInterval="1" id="blueslider"></mat-slider>
  </div>

  <h4>Ejercicio 9, mostrar algo cuando un usuario se identificado y algo diferente cuando no lo sea</h4>

<div *ngIf="Identified; then yesIdentified else noIdentified"></div>

<ng-template #yesIdentified ><p>Identificado</p>
<button (click)="unIdentify()">Salir</button>
</ng-template>
<ng-template  #noIdentified><p>No estas identificado</p>
<button (click)="Identify()">Identificaorse</button>
</ng-template>
