.parent{
  background-color: rgba(252, 242, 214, 0.8);
  padding: 10px;
  border: 3px solid;
  border-color: rgb(26, 80, 33);
  margin: 0.5rem;
}
#tina{
font-size: 2.5rem;
color:rgb(236, 156, 8)
}
hr{
  color: rgb(236,156,8);
}
